<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to_if I18n.locale != :ja, '日本語', { locale: :ja } %>
      <%= link_to_if I18n.locale != :en, 'English', { locale: :en } %>
    </header>
    <%= yield %>
  </body>
</html>
